[submodule "amepd"]
	path = amepd
	url = https://github.com/rhdunn/amepd
[submodule "cmudict"]
	path = cmudict
	url = https://github.com/cmusphinx/cmudict
[submodule "phonetisaurus"]
	path = phonetisaurus
	url = https://github.com/AdolfVonKleist/Phonetisaurus
